<style>
	.font-size {
		font-size: 90%;
	}
	.bold-size {
		font-weight: 700;
	}
	.navbar {
		padding: .8rem;
	}
	.navbar-nav li {
		position: relative;
		padding-right: 50px;
	}
	.navlink {
		font-size: 1.1em !important;
	}
	.movetoleft {
		position: relative;
		transform: translateX(-50%);
	}
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top font-size">
	{% if session.admin %}
		<a class="navbar-brand bold-size" href="/admin/dashboard">Z O R G</a>
	{% else %}
		{% if session.logged_in %}
			{% if session.type == "H" %}
				<a class="navbar-brand bold-size" href="/hospital">Z O R G</a>
			{% else %}
				<a class="navbar-brand bold-size" href="/customer">Z O R G</a>
			{% endif %}
		{% else %}
			{% if session.ENV == "dev" %}
				<a class="navbar-brand bold-size" href="/index">Z O R G</a>
			{% else %}
				<a class="navbar-brand bold-size" href="/">Z O R G</a>
			{% endif %}
		{% endif %}
	{% endif %}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav navbar-right ml-auto">
			{% if session.admin %}
				<li><a class="nav-link active" href="/admin/dashboard">Dashboard</a></li>
				<li><a class="nav-link active" href="/admin/logout">Logout</a></li>
			{% else %}
				{% if session.logged_in %}
					{% if session.type == "H" %}
						<!--<li><a class="nav-link active" href="/hospital/emergency">Emergency</a></li>
						<li><a class="nav-link active" href="/hospital/appointment">Appointments</a></li>
						<li><a class="nav-link active" href="/hospital/emergency/history">Past Requests</a></li>
						<li><a class="nav-link active" href="/hospital/staff">Hospital Management</a></li>-->
					{% else %}
						<li>
							<a class="nav-link active dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">EMERGENCY</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="/customer/emergency/accident">Accident</a>
								<a class="dropdown-item" href="/customer/emergency/heartattack">Heart attack</a>
								<a class="dropdown-item" href="/customer/emergency/otherailments">Other</a>
							</div>
						</li>
						<li><a class="nav-link active" href="/customer">Dashboard</a></li>
					{% endif %}
					<li><a class="nav-link active" href="/logout">Logout</a></li>
				{% else %}
					<li>
						<a class="nav-link active dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">Login</a>
						<div class="dropdown-menu movetoleft" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="/login/hospital">Hospital Management</a>
							<a class="dropdown-item" href="/login/customer">Customer</a>
						</div>
					</li>
				{% endif %}
			{% endif %}
		</ul>
	</div>
</nav>
