<style>
    nav {
        font-size: x-large;
    }
    .navbar {
        margin-bottom: 0%;
    }
    .navbar-brand {
        padding: 15px 15px;
        margin: 0;
    }
</style>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a onclick="openclose()"><i class="fa fa-bars"></i></a>
    <p class="navbar-brand"><h2>Dashboard</h2></p>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav navbar-right ml-auto">
            <li><a class="nav-link active" href="/mail"><i class="fa fa-envelope"></i></a></li>
            <li><a class="nav-link active" href="/notification"><i class="fa fa-bell"></i></a></li>
            <li><a class="nav-link active" href="/profile"><i class="fa fa-user"></i></a></li>
		</ul>
	</div>
</nav>