<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>ZORG</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<style>
			.btnstretch {
				width: 100%;
			}
		</style>
	</head>
	<body>
		{% include "includes/_navbar.html" %}
		{% include "includes/_messages.html" %}
		<h1>Dashboard <small>Welcome {{session.name}}</small></h1>
		<table class="table table-striped">
			<tr>
				<th>Username</th>
				<th>Phone Number</th>
				<th>Age</th>
				<th>Gender</th>
				<th>Previous Medical Records</th>
				<th>Address</th>
				<th>Pincode</th>
				<th>Mail</th>
				<th></th>
			</tr>
			{% for custdata in custdata %}
				{% if session.name == session.name %}
					<tr>
						<td>{{custdata.username}}</td>
						<td>{{custdata.aadhar}}</td>
						<td>{{custdata.age}}</td>
						<td>{{custdata.gender}}</td>
						<td>{{custdata.prevmedrcrds}}</td>
						<td>{{custdata.address}}</td>
						<td>{{custdata.pincode}}</td>
						<td>{{custdata.gmail_id}}</td>
						<td><a href="/customer/profile/edit" class="btn btn-default btnstretch">Edit</a></td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
		<div>
			<a href="/customer/appointment" class="btn btn-default pull-right">Appointment</a>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
