<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>ZORG</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<style>
			.btnstretch {
				width: 100%;
			}
			.space {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		{% include "includes/_navbar.html" %}
		{% include "includes/_messages.html" %}
		<h1>Dashboard <small>Welcome {{session.name}}</small></h1>
		<div class="text-center">
			<div class="space">
				<a href="/hospital/emergency" class="btn btn-default">Emergency ({{emernum}})</a>
			</div>
			<div class="space">
				<a href="/addappoint" class="btn btn-default">Add Appointment</a>
			</div>
			<div class="space">
				<a href="/hospital/emergency/history" class="btn btn-default">Past Requests</a>
			</div>
			<div class="space">
				<a href="/hospital/staff" class="btn btn-default">Hospital Management</a>
			</div>
			<div class="space">
				<a href="/hospital/appointment" class="btn btn-default">Appointment ({{aptnum}})</a>
			</div>
			<div class="space">
				<a href="/hospital/register/customer" class="btn btn-default">Customer Register</a>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
