<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>ZORG</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity = "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin = "anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<style>
			.btnstretch {
				width: 100%;
			}
		</style>
	</head>
	<body>
		{% include "includes/_navbar.html" %}
		{% include "includes/_messages.html" %}
        {% if registermnmg != asdfljhj %}
            <h1>Hospital Details</h1>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Pincode</th>
                    <th>Address</th>
                    {% if a == '' %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for registermnmg in registermnmg %}
                <tr>
                    <td>{{registermnmg.namehptl}}</td>
                    <td>{{registermnmg.username}}</td>
                    <td>{{registermnmg.pincode}}</td>
                    <td>{{registermnmg.address}}</td>
                    {% if a == '' %}
                    <td><a href="/admin/table/row/edit/{{registermnmg.username}}" class="btn btn-default btnstretch">Edit</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            
            {% if customerdet != asdfljhj %}
            <h1>Customer Details</h1>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Pincode</th>
                    <th>Address</th>
                    <th>Mail Id</th>
                    <th>Aadhar No.</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Prevmedrcrds</th>
                    {% if b == '' %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for customerdet in customerdet %}
                <tr>
                    <td>{{customerdet.custid}}</td>
                    <td>{{customerdet.namecust}}</td>
                    <td>{{customerdet.username}}</td>
                    <td>{{customerdet.pincode}}</td>
                    <td>{{customerdet.address}}</td>
                    <td>{{customerdet.gmail_id}}</td>
                    <td>{{customerdet.aadhar}}</td>
                    <td>{{customerdet.age}}</td>
                    <td>{{customerdet.gender}}</td>
                    <td>{{customerdet.prevmedrcrds}}</td>
                    {% if b == '' %}
                    <td><a href="/admin/table/row/edit/{{customerdet.username}}" class="btn btn-default btnstretch">Edit</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            
            {% if orders != asdfljhj %}
            <h1>Orders Details</h1>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Hospitals</th>
                    <th>Cust Username</th>
                    <th>Type</th>
                    <th>Address</th>
                    <th>Cust name</th>
                    <th>Aadhar No.</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Prevmedrcrds</th>
                    {% if c == '' %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for orders in orders %}
                <tr>
                    <td>{{orders.number}}</td>
                    <td>{{orders.hptl_username_in_vicinity}}</td>
                    <td>{{orders.username_cust}}</td>
                    <td>{{orders.type}}</td>
                    <td>{{orders.address}}</td>
                    <td>{{orders.namecust}}</td>
                    <td>{{orders.aadhar}}</td>
                    <td>{{orders.age}}</td>
                    <td>{{orders.gender}}</td>
                    <td>{{orders.prevmedrcrds}}</td>
                    {% if c == '' %}
                    <td><a href="/admin/table/row/edit/{{orders.number}}" class="btn btn-default btnstretch">Edit</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            
            {% if pastorders != asdfljhj %}
            <h1>Past Orders Details</h1>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Hospitals</th>
                    <th>Cust Username</th>
                    <th>Type</th>
                    <th>Address</th>
                    <th>Cust name</th>
                    <th>Aadhar No.</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Prevmedrcrds</th>
                    {% if d == '' %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for pastorders in pastorders %}
                <tr>
                    <td>{{pastorders.number}}</td>
                    <td>{{pastorders.name_of_hptl_accepting_responsibilty}}</td>
                    <td>{{pastorders.username_cust}}</td>
                    <td>{{pastorders.type}}</td>
                    <td>{{pastorders.address}}</td>
                    <td>{{pastorders.namecust}}</td>
                    <td>{{pastorders.aadhar}}</td>
                    <td>{{pastorders.age}}</td>
                    <td>{{pastorders.gender}}</td>
                    <td>{{pastorders.prevmedrcrds}}</td>
                    {% if d == '' %}
                    <td><a href="/admin/table/row/edit/{{pastorders.number}}" class="btn btn-default btnstretch">Edit</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            
            {% if staffdet != asdfljhj %}
            <h1>Staff Details</h1>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Salary</th>
                    <th>Doc id</th>
                    <th>Sepcification</th>
                    <th>Hospital id</th>
                    {% if e == '' %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for staffdet in staffdet %}
                <tr>
                    <td>{{staffdet.name}}</td>
                    <td>{{staffdet.age}}</td>
                    <td>{{staffdet.gender}}</td>
                    <td>{{staffdet.salary}}</td>
                    <td>{{staffdet.docid}}</td>
                    <td>{{staffdet.spec}}</td>
                    <td>{{staffdet.hospitalid}}</td>
                    {% if e == '' %}
                    <td><a href="/admin/table/row/edit/{{staffdet.docid}}" class="btn btn-default btnstretch">Edit</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            
            {% if appoints != asdfljhj %}
            <h1>Appointmets</h1>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Pat Name</th>
                    <th>Pat Username</th>
                    <th>Hosp Name</th>
                    <th>Doc Name</th>
                    <th>Problem</th>
                    <th>Specialisation</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Time</th>
                    {% if f == '' %}
                        <th></th>
                    {% endif %}
                </tr>
                {% for appoints in appoints %}
                <tr>
                    <td>{{appoints.id}}</td>
                    <td>{{appoints.PatName}}</td>
                    <td>{{appoints.PatUsername}}</td>
                    <td>{{appoints.HospName}}</td>
                    <td>{{appoints.DocName}}</td>
                    <td>{{appoints.Problem}}</td>
                    <td>{{appoints.Specialisation}}</td>
                    <td>{{appoints.status}}</td>
                    <td>{{appoints.date}}</td>
                    <td>{{appoints.time}}</td>
                    {% if f == '' %}
                        <td><a href="/admin/table/row/edit/{{appoints.id}}" class="btn btn-default btnstretch">Edit</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <br>
        <div class="text-center">
            <a href="/admin/dashboard" class="btn btn-default">Back</a>
        </div>
        <br>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
