<!DOCTYPE html>
<html lang="en">
	<head>
		<script data-ad-client="ca-pub-1151636325228342" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="oymJ5XfJ1oFXP05bFjm6rTF1XyKNOx1khN-9zICuTNo">
		<title>ZORG</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/index_route.css">
	</head>
	<body>
		{% include "includes/_messages.html" %}
		{% include "includes/_navbar.html" %}
		<!-- Section 1-->
		<div id="slides" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src={{ url_for('static',filename='homepage.jpg')}} width="100%" height="100%" alt="Background1">
					<div class="carousel-caption">
							<h1 class="display-2">WELCOME TO ZORG</h1>
							<h3>New User? click here to register</h3>
							<a href="/register/customer" class="btn btn-primary btn-lg">Customer</a>
							<a href="/register/hospital" class="btn btn-primary btn-lg">Hospital Management</a>
					</div>
				</div>
			</div>
		</div>
		<hr class="my-4">

		<!-- Section 2-->
		<div class="container-fluid">
			<div class="row jumbotron">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
					<div class="wow fadeInUp"><img src={{ url_for('static',filename='Img1.jpg') }} class="img-fluid" alt="Image1"></div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center centerimg1">
					<div class="wow fadeInUp"><h1>Ensure your safety</h1></div>
					<div class="wow fadeInUp"><h5>With Zorg, if anything happens to you (which we hope doesn't happen), hospitals near you are directly notified with the press of a button</h5></div>
				</div>
			</div>
		</div>
		<hr class="my-4">

		<!-- Section 3-->
		<div class="container-fluid padding">
			<div class="row padding">
				<div class="col-sm-12 col-md-6 text-center centerimg2">
					<div class="wow fadeInUp"><h1>How we work</h1></div>
					<div class="wow fadeInUp"><h5>We use python and have written over 14000 lines of code to make sure your safety comes first</h5></div>
				</div>
				<div class="col-md-6 text-center">
					<div class="wow fadeInUp"><img src={{ url_for('static',filename='Img2.jpg') }} class="img-fluid" alt="Image2"></div>
				</div>
			</div>
		</div>
		<hr class="my-4">
		
		<!-- Section 4-->
		<div class="container-fluid padding">
			<div class="row jumbotron">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
					<div class="wow fadeInUp"><img src={{ url_for('static',filename='Img3.jpg') }} class="img-fluid" width="60%" alt="Image3"></div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
					<div class="centerimg3">
						<div class="wow fadeInUp"><h1>Who did it?</h1></div>
						<div class="wow fadeInUp"><h5>Just 3 friends who have big visions of saving the world from any more sorrows...</h5></div>
					</div>
				</div>
			</div>
		</div>
		<hr class="my-4">

		<!-- Section 5-->
		<div class="container-fluid padding">
			<div class="row padding">
				<div class="col-sm-12 col-md-6 text-center centerimg2">
					<div class="wow fadeInUp"><h1>Not sure how to get started?</h1></div>
					<div class="wow fadeInUp"><h5><a href="/route">Click here</a> to view the detailed walkthrough.</h5></div>
				</div>
				<div class="col-md-6 text-center">
					<div class="wow fadeInUp"><img src={{ url_for('static',filename='Img4.jpg') }} class="img-fluid" alt="Image4"></div>
				</div>
			</div>
		</div>
		<hr class="my-4">

		<!-- Section 6-->
		<div class="wow fadeInUp">
			<div class="container-fluid padding">
				<div class="row jumbotron text-center">
					<div class="col-12">
						<div class="wow fadeInUp"><h1 class="display-5">Come, Ensure your life, Free of cost</h1></div>
					</div>
					<div class="col-5"></div>
					<div class="col-2">
						<button onclick="topFunction()" class="btn btn-primary btn-lg" id="myBtn">Register</button>
						<script>
							var mybutton = document.getElementById("myBtn");
							function topFunction() {
							document.body.scrollTop = 0;
							document.documentElement.scrollTop = 0;
							}
						</script>
					</div>
				</div>
			</div>
		</div>
		<hr class="my-4">

		<!-- Section 7-->
		<div class="container-fluid padding">
			<div class="row padding">
				<div class="col-sm-12 col-md-6 text-center centerimg2">
					<div class="wow fadeInUp"><h1>Comments? Suggestions?</h1></div>
					<div class="wow fadeInUp"><h5>We welcome your valuable suggestions. <a href="/feedback">Click here</a> to send us your feedback.</h5></div>
				</div>
				<div class="col-md-6 text-center">
					<div class="wow fadeInUp">
						<img src={{ url_for('static',filename='Img5.jpg') }} class="img-fluid" alt="Image4">
					</div>
				</div>
			</div>
		</div>
		<hr class="my-4">

		{% extends "footer.html" %}
        <!-- Javascript -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	</body>
</html>
