<!DOCTYPE html>
<html>
<head>
	<title>ZORG</title>
	<link rel="icon" type="image/png" href="/static/Favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/reg_log.css">
	<style>
        .main-agileinfo {
            padding: 3em;
        }
	</style>
</head>
<body>
	{% extends 'layout.html' %}
	{% block body %}
		<div class="main-w3layouts wrapper">
			<div class="main-agileinfo">
				<div class="agileits-top">
					<form action="/admin/login" method="POST">
						<div class="form-group">
							<input class="text" type="text" name="username" placeholder="Username" required="">
						</div>
						<div class="form-group">
							<input class="text" type="password" name="password" placeholder="Password" required="">
						</div>
						<input type="submit" value="LOGIN">
					</form>
				</div>
			</div>
			<ul class="colorlib-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	{% endblock %}
</body>
</html>