<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ZORG</title>
		<link rel="icon" type="image/png" href="/static/Favicon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/index_route.css">
	</head>
	<body>
	{% include "includes/_messages.html" %}
	{% include "includes/_navbar.html" %}

	<div class="container-fluid">
		<div class="row jumbotron">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
				<img src={{ url_for('static',filename='zorgcr.png') }} class="img-fluid" alt="Image1">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center centerimg1">
				<h1>For Customers</h1>
				<h5>Since the website is still under testing, the data you enter needn't be exactly accurate (such as your phone number). Also note that you cannot edit the phone number and gender once you have enterred it.</h5>
			</div>
		</div>
	</div>
	<hr class="my-4">

	<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-sm-12 col-md-6 text-center centerimg2">
			<h1>For Hospitals</h1>
			<h5>We hope the flowchart given is self explanatory. To go back to requests after going to past requests, click on "Zorg" on the top left.</h5>
		</div>
		<div class="col-md-6 text-center">
			<img src={{ url_for('static',filename='zorghr.png') }} class="img-fluid" alt="Image2">
		</div>
	</div>
	</div>
	<hr class="my-4">

	<div class="container-fluid">
		<div class="row jumbotron">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
				<img src={{ url_for('static',filename='citymap.png') }} class="img-fluid" alt="Image1">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center centerimg1">
				<h1>How We Work</h1>
				<h5>This is typically how a city looks like, with the light blue computers being citizens and the dark blue computers being the hospitals. The center computer is our server. The three groups of computers represent the areas in a city. For better understanding let us take just one area into account.</h5>
			</div>
		</div>
	</div>
	<hr class="my-4">

	<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-sm-12 col-md-6 text-center centerimg2">
			<h5>When you press the emergency button, all hospitals near you are notified and the hospitals have an option to either accept or decline your request, based on their availability of doctors, ambulance drivers and other necessary staffs.</h5>
		</div>
		<div class="col-md-6 text-center">
			<img src={{ url_for('static',filename='request.png') }} class="img-fluid" alt="Image2">
		</div>
	</div>
	</div>
	<hr class="my-4">

	<div class="container-fluid">
		<div class="row jumbotron">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
				<img src={{ url_for('static',filename='accepted.png') }} class="img-fluid" alt="Image1">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center centerimg1">
				<h5>When a hospital accepts your request, you are notified through the email address that you have provided that the hospital has accepted to save you. This way the whole concept of a middleman deciding what hospital to take you to is effectively eradicated.</h5>
			</div>
		</div>
	</div>
	<hr class="my-4">
	<div class="container-fluid padding">
		<div class="row jumbotron text-center">
			<div class="col-12">
				<h1 class="display-5">Return to Homepage</h1>
			</div>
			<div class="col-5"></div>
			<div class="col-2">
				<a href="/index" class="btn btn-primary btn-lg">Return</a>
			</div>
		</div>
	</div>
	<hr class="my-4">
{% extends "footer.html" %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>
